<!doctype html>


<html lang="en">



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ site.name }}{% if page.title %} | {{ page.title }} {% endif %}</title>

<link href="{{'/assets/css/kingcoatskennels.css' | relative_url }}" rel ="stylesheet">
<script src="{{'assets/js/kingcoatskennels.js' | relative_url }}" > </script>

    
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-8594971808835666",
    enable_page_level_ads: true
  });
</script>

</head>



<body>

<div>
    <span>
<a href="https://kingcoatskennels.com">
<img src="assets/images/remy0.png" alt="King Coats Kennels Logo" width="90" height="90" border="0" />
</a>
        </span>
    <span><h1>King Coats Kennels</h1></span>
<a href="{{ '' | relative_url }}/">Home</a>
<a href="{{ 'album.html' | relative_url }}">Album</a>

</div>
